<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GE_STOCK.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GE_STOCK.Properties.Settings1>
            <setting name="Cnx" serializeAs="String">
                <value>Data Source=localhost\SQLEXPRESS;Initial Catalog=GE_Stock_db;Integrated Security=True</value>
            </setting>
            <setting name="AlerteVocale" serializeAs="String">
                <value>False</value>
            </setting>
        </GE_STOCK.Properties.Settings1>
    </userSettings>
</configuration>